body {
  padding: 50px;
  font-family: 'Libre Baskerville', serif;
  font-weight:200;
  font-size: 13px;
  background-color: #171413;
  color: #FFFFFF;
}

h2 {
  font: 21px "Helvetica";
  color: #E00090;
}

a {
  color: #E00090;
  text-decoration: none;
  padding-right: 10px;
}

a:hover {
  color: #0AAFC6;
  text-decoration: none;
  padding-right: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

.navigation {
  background-color: #171413;
  color: #E00090;
  padding-bottom: 15px;
  font: 21px "Helvetica";
  font-weight: bold;
}

.bottomNavigation {
  background-color: #171413;
  color: #E00090;
  position: absolute;
  bottom: 50px;
}

.greeting {
  color: #FFFFFF;
}

.index {
  font-weight: 400;
  color: #0AAFC6;
}

.error_msg {
  color: #E00090;
}

.info_msg{
  color: #FFFFFF;
}

#addtask_text {
  width: 50%
}

.delete_form, .done_form {
  display: inline;
}

.done_button, .all_done_button {
  background-color: #0AAFC6;
  color: #171413;
}

.delete_button, .delete_all_button {
  background-color: #A10067;
  color: #FFFFFF;
}

.alldone {
  padding-top: 20px;
}

.list{
  padding-bottom: 5px;
}
